body {
    font-family: Ubuntu, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

.hero {
    height: 300px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}