body {
    font-family: Ubuntu, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Quicksand', sans-serif;
font-weight: normal;
}

.menu {
    height: inherit;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header ol {
    display: flex;
    height: inherit;
}

header ol li {
    height: inherit;
}

figure {
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    margin: 0px;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    /* text-transform: uppercase;
    text-decoration: dashed; */
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    background-image: url("https://i.imgur.com/i0WbFX6.jpg");
    background-color: #1b2127;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-bottom: 10px solid orange;
    border-left: 10px solid pink; */
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-course {
    margin: 10px 0;
}

.project-date, .project-url {
    margin: 10px 0;
}

.project-title {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Quicksand', sans-serif;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.project-imageContainer img {
    border-radius: 10px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.box {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 1px solid red;

    flex-shrink: 0;
}

.footer {
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event-list {
    display: flex;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;

}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3 {
    font-family: 'Quicksand', sans-serif;
}