@media screen and (max-width:1024px) {

}

@media screen and (max-width:767px) {

    .header {
        display: block;
        height: auto;
    }

    .header ol {
        display: block;
    }

    .header ol li {
        height: 50px;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
    }

    .project {
        display: block;
    }

    .project-imageContainer {
        width: auto;
        text-align: center;
    }

    .project-details {
        width: auto;
    }

    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }

    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }

    .project-url {
        font-size: 1em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }
    
    .project-description {
        font-size: .8em;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event img{
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .project-details {
        width: auto;
        font-size: 12px;
    }

    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }
}

@media screen and (max-width:320px) {
    
}